{% extends "gccfarm_web/base.html" %}
{% load static %}
{% load humanizelib %}
{% load timing %}

{% block javascript %}
<script src="{% static 'gccfarm_machine/js/sorttable.js' %}"></script>

<script type="text/javascript">
<!--
function updateHiddenMachinesVisibility() {
  /* Hide / show machines that are not "shared" (i.e., unavailable to regular farm users). */
  var display = (document.getElementById("showHiddenCheckBox").checked ? "table-row" : "none");
  var rows = document.getElementsByClassName('hiddenmachine');
  for (var i=0, len=rows.length|0; i<len; i=i+1|0) {
    rows[i].style.display = display;
  }
}

/* Call when DOM has been loaded, so that the table is initially consistent with the state of the checkbox. */
window.addEventListener('DOMContentLoaded', (event) => {
    updateHiddenMachinesVisibility();
});
//-->
</script>
{% endblock javascript %}

{% block content %}

<h1>List of machines</h1>


<p>To connect to a machine, use
{% if user.username %}
  <code>ssh {{ user.username }}@cfarm<strong>XX</strong>.cfarm.net</code>
or for a custom ssh port:
  <code>ssh -p <strong>port</strong> {{ user.username }}@cfarm<strong>XX</strong>.cfarm.net</code>.
{% else %}
  <code>ssh <strong>user</strong>@cfarmXX.cfarm.net</code>
or for a custom ssh port:
  <code>ssh -p <strong>port</strong> <strong>user</strong>@cfarm<strong>XX</strong>.cfarm.net</code>.
{% endif %}
<br />
For custom ssh ports, you can also copy-paste the ssh configuration below:
</p>

{# Django templates have short-circuit boolean evaluation #}
{% if machines and machines.0.ssh_config %}
<details>
<summary><a class="btn btn-default">Show ssh config</a></summary>
<p><pre># Copy-paste in your ~/.ssh/config
{{ machines.0.ssh_config }}</pre></p>
</details>
{% endif %}

<table class="table table-striped table-machines sortable">
  <thead>
    <tr>
      <th><a href="#">Name</a></th>
      <th><a href="#">SSH Port</a></th>
      <th><a href="#">Description</a></th>
      <th><a href="#">Arch</a></th>
      <th><a href="#">CPU Type</a></th>
      <th><a href="#">CPU</a></th>
      <th><a href="#">RAM</a></th>
      <th><a href="#">Disk</a></th>
      <th><a href="#">OS</a></th>
      <th><a href="#">Uptime</a></th>
      <th><a href="#">Host</a></th>
      <th><a href="#">Location</a></th>
    </tr>
  </thead>
  <tbody>
    {% for m in machines %}
    <tr
      {% if not m.shared %}class="hiddenmachine table-inactive" title="This machine is currently not available for general farm usage."
      {% elif not m.success %}class="danger" title="This machine has been automatically determined to be unreachable or broken in some way, but may still work."{% endif %}
      >
      <td sorttable_customkey="{{ m.numeric_name }}">{{ m.name }}
	<br /><a href="{{ m.graph_url_overview }}" class="small_link">Graphs</a></td>
      <td>{{ m.ssh_ports_list|join:', ' }}</td>
      <td>{{ m.description }}</td>
      <td>{{ m.architecture }}</td>
      <td>{{ m.processor }}</td>
      <td sorttable_customkey="{{ m.nb_threads }}">
        {% if m.architecture == "x86_64" and m.nb_cpu > 1 %}
	  {{ m.nb_cpu }}&nbsp;sockets<br />
	{% endif %}
	{{ m.nb_cores }}&nbsp;cores<br />
	{{ m.nb_threads }}&nbsp;threads
	<br /><a href="{{ m.graph_url_cpu }}" class="small_link">CPU graph</a>
        {% if m.cpu_usage > 0 %}<br />{% include "gccfarm_machine/progressbar_fragment.html" with value=m.cpu_usage %}{% endif %}
      </td>
      <td sorttable_customkey="{{ m.memtotal_mb }}">
        {{ m.memtotal|filesizeformat }}
	<br /><a href="{{ m.graph_url_memory }}" class="small_link">Mem. graph</a>
        {% if m.memory_usage > 0 %}<br />{% include "gccfarm_machine/progressbar_fragment.html" with value=m.memory_usage %}{% endif %}
      </td>
      <td sorttable_customkey="{{ m.mount_size_total }}">
        {{ m.mount_size_total|filesizeformat }}
	<br /><a href="{{ m.graph_url_disk }}" class="small_link">Disk usage</a>
	{% if m.mount_fstype %}<br />{{ m.mount_fstype }} fs{% endif %}
	{% if m.disk_io_usage > 0 %}<br /><a href="{{ m.graph_url_disk_io }}" class="small_link">{% widthratio m.disk_io_usage 1 100 %}% I/O load</a><br />{% include "gccfarm_machine/progressbar_fragment.html" with value=m.disk_io_usage %}{% endif %}
      </td>
      <td>{{ m.os }}<br />{{ m.kernel }}</td>
      {% if m.success %}
        <td sorttable_customkey="{{ m.uptime.days }}">{{ m.uptime|naturaldelta_days }}</td>
      {% else %}
        <td sorttable_customkey="-{{ m.unreachable_since.days }}">
          <span class="text-danger">Unreach. for {{ m.unreachable_since|naturaldelta|default:"ever" }}</span>
        </td>
      {% endif %}
      <td>
        {% if m.hoster.public %}
          {% if m.hoster.website %}
            <a href="{{ m.hoster.website }}">{{ m.hoster.name }}</a>
          {% else %}
            {{ m.hoster.name }}
          {% endif %}
        {% endif %}
      </td>
      <td>{{ m.location }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>
<input type="checkbox" id="showHiddenCheckBox" onclick="updateHiddenMachinesVisibility()" />
<label for="showHiddenCheckBox" style="font-weight: normal">Show hidden machines</label>
</div>


{% endblock content %}
