{% extends "gccfarm_web/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}

<h1>Change email address</h1>

<div id="content-main">

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}

<fieldset class="module aligned wide">

<div class="form-row">
    {% bootstrap_errors form.new_email1.errors %}
    {{ form.new_email1.label_tag }} {{ form.new_email1 }}
</div>

<div class="form-row">
    {% bootstrap_errors form.new_email2.errors %}
    {{ form.new_email2.label_tag }} {{ form.new_email2 }}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" class="btn btn-primary" value="{% trans 'Change my email address' %}" class="default" />
</div>

</div>
</form>
</div>

{% endblock content %}
