{% extends "gccfarm_web/base.html" %}

{% block content %}

<div class="row"><a href="{% url 'news' %}" class="btn btn-default"><span aria-hidden="true">&larr;</span> Back to all news</a></div>

{% include "gccfarm_web/news_single.html" %}

{% endblock content %}
