<div class="row news-article">
  <div class="col-md-3 col-xs-12 news-title">
    <h3><a href="{% url 'news_detail' article.pk %}#">{{ article.title }}</a></h3>
    <h4>{{ article.pub_date|date:"Y-m-d" }}</h4>
  </div>
  <div class="col-md-7 col-xs-12 news-content">
    {{ article.content|safe }}
  </div>
</div>
