{% load timing %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Who</th>
      <th>Login</th>
      <th>Contributions</th>
      <th>Requested</th>
      <th>Rejected</th>
    </tr>
  </thead>
  <tbody>
{% for account in accounts %}
    <tr>
      <td>{{ account.first_name }} {{ account.last_name }}<br />{{ account.email }}</td>
      <td>{{ account.username }}</td>
      <td style="word-break: break-all;">
        {{ account.contributions|urlizetrunc:42|linebreaks }}
        <div class="panel panel-danger">
          <div class="panel-heading">Rejected by <strong>{{ account.approved_by }}</strong> on {{ account.approved_date }}</div>
          <div class="panel-body">
           {{ account.reject_reason|urlizetrunc:42|linebreaks }}
          </div>
        </div>
      </td>
      <td>{{ account.request_date|naturaltime_with_hover }}</td>
      <td>
	<p>{{ account.approved_date|naturaltime_with_hover }}</p>
	<p><a href="{% url 'approve_account_request' account.pk %}" class="btn btn-success">Approve</a></p>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
