{% extends "gccfarm_web/base.html" %}
{% load bootstrap %}

{% block content %}
<h1>Reject account request</h1>

<p>You are about to <strong>reject</strong> account creation for the following user:</p>

<table class="table table-striped">
  <tr><th>Name</th><td>{{ user.first_name }} {{ user.last_name }}</td></tr>
  <tr><th>Login</th><td>{{ user.username }}</td></tr>
  <tr><th>Email address</th><td>{{ user.email }}</td></tr>
  <tr style="word-break: break-all;"><th>Contributions</th><td>{{ user.contributions|urlizetrunc:42|linebreaks }}</td></tr>
</table>

<p>Please provide a reject reason. It will be sent by email to the user: if this is undesirable, uncheck "Send email notification" below.</p>
<form method="post">
{% csrf_token %}
<div class="form-group">
{% bootstrap_errors form.reject_reason.errors %}
{{ form.reject_reason.label_tag }}<br />
{{ form.reject_reason }}<br />
{{ form.email_notification.label_tag }}
{{ form.email_notification }}
</div>
<input type="submit" value="Reject" class="btn btn-danger" />
</form>
{% endblock content %}
