{% extends "gccfarm_web/base.html" %}

{% block content %}
<h1>My compile farm account</h1>

<table class="table table-striped" style="width: 50%">
  <tr>
    <td>Name</td>
    <td><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></td>
  </tr>
  <tr>
    <td>Username</td>
    <td><strong>{{ request.user.username }}</strong></td>
  </tr>
  <tr>
    <td>User ID</td>
    <td><strong>{{ request.user.uid }}</strong></td>
  </tr>
  <tr>
    <td>Account requested</td>
    <td><strong>{{ request.user.request_date }}</strong></td>
  </tr>
  <tr>
    <td>Email address</td>
    <td><strong>{{ request.user.email }}</strong>
    <a href="{% url 'email_change' %}" class="btn btn-info">Change email address</a></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><strong>Note: your password is only used to login to this website.<br />
        Farm machines only allow SSH keys.</strong><br />
      <a href="{% url 'password_change' %}" class="btn btn-warning">Change password</a></td>
  </tr>
</table>

<h2>Mailing lists subscriptions</h2>

<table class="table table-striped">
  <tr>
    <th>List name</th>
    <th>Role</th>
    <th>Subscribed</th>
    <th>Subscribed with</th>
    <th>Archives</th>
  </tr>
  <tr>
    <td><a href="https://lists.tetaneutral.net/listinfo/cfarm-announces">cfarm-announces@lists.tetaneutral.net</a></td>
    <td>Low-traffic announcements</td>
    <td><strong>Yes</strong></td>
    <td>{{ request.user.email }}</td>
    <td><a href="https://lists.tetaneutral.net/pipermail/cfarm-announces/">cfarm-announces archives</a></td>
  </tr>
  <tr>
    <td><a href="https://lists.tetaneutral.net/listinfo/cfarm-users">cfarm-users@lists.tetaneutral.net</a></td>
    <td>User discussions</td>
    <td><em>unknown</em></td>
    <td><em>managed in mailman</em></td>
    <td><a href="https://lists.tetaneutral.net/pipermail/cfarm-users/">cfarm-users archives</a></td>
  </tr>
</table>


{% endblock content %}
