{% extends "gccfarm_web/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container">



<div id="loginbox" class="mainbox col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info" >
    <div class="panel-heading">
      <div class="panel-title">Login</div>
    </div>
    <div class="panel-body">

{% if user.is_authenticated %}
<h3>You are already logged in!</h3>

<p>You may want to <a href="{% url 'simplesshkey:userkey_list' %}">add SSH keys</a> to your account.</p>
{% else %}

{% if form.errors %}
<div class="alert alert-danger col-sm-12">
  Your username and password didn't match. Please try again.
</div>
{% endif %}

<form method="post" role="form" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="form-group">
    {{ form.username.label_tag }}<br />
    {% render_field form.username class="form-control" placeholder=form.username.label %}
  </div>
  <div class="form-group">
    {{ form.password.label_tag }}<br />
    {% render_field form.password class="form-control" placeholder=form.password.label %}
  </div>
  <div class="form-group">
    <div class="col-sm-12 controls">
      <input type="submit" class="btn btn-primary" value="Login" />&nbsp;
      <a class="btn btn-default" href="{% url 'password_reset' %}">Lost password?</a>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </div>

  <div class="form-group">
    <div class="col-sm-12 controls">
      <h4>Don't have an account?</h4>
      <p>To request an account, please see <a href="{% url 'join' %}">this page</a>.</p>
    </div>
  </div>

</form>

    </div>
  </div>
</div>


{% endif %}

</div>

{% endblock %}
