{% extends "gccfarm_web/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}

<h1>{{ title }}</h1>

<p>{% trans "Don't have a password yet, or forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
  <div class="form-row field-email form-group">
    {% bootstrap_errors form.email.errors %}
    <label for="id_email">{% trans 'Email address:' %}</label>
    {{ form.email }}
  </div>
  <input type="submit" class="btn btn-primary" value="{% trans 'Reset my password' %}" />
</fieldset>
</form>

{% endblock content %}
