{% extends "gccfarm_web/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}

<h1>{{ title }}</h1>

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1 form-group">
        {% bootstrap_errors form.new_password1.errors %}
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2  form-group">
        {% bootstrap_errors form.new_password2.errors %}
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}" />
</fieldset>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
