{% extends "gccfarm_web/base.html" %}
{% load humanize %}
{% load bootstrap %}

{# Don't display messages in the default place #}
{% block messages %}
{% endblock messages %}

{% block content %}
<h1>My SSH Keys</h1>

<p><strong>Hint:</strong> to display the fingerprint of a key,
run <code>ssh-keygen -l -f ~/.ssh/id_rsa.pub</code> or <code>ssh-keygen -E md5 -l -f ~/.ssh/id_rsa.pub</code></p>

{% bootstrap_messages messages %}

<table class="table table-striped">
  <tr>
    <th>Key</th>
    <th>Type</th>
    <th>Fingerprint</th>
    <th>Added</th>
    <th></th>
  </tr>
{% for userkey in userkey_list %}
  <tr>
    <td>{{ userkey.name }}</td>
    <td>{{ userkey.keytype }}
{% if userkey.keytype == "ssh-dss" %}
<span class="warning-sign" title="This key won't work on newer machines, please also add a RSA, ECDSA or ED25519 key."></span>
{% elif userkey.keytype == "ssh-ed25519" or userkey.keytype|slice:":5" == "ecdsa" %}
<span class="warning-sign" title="This key won't work on older machines, please also add a RSA or DSA key."></span>
{% endif %}
    </td>
    <td>{{ userkey.fingerprint }}</td>
    <td title="{{ userkey.created }}">{{ userkey.created|naturaltime|default:"unknown" }}</td>
    <td>
    {% if allow_edit %}
    <a href="{% url "simplesshkey:userkey_edit" userkey.pk %}">Edit</a>
    {% endif %}
    <a href="{% url "simplesshkey:userkey_delete" userkey.pk %}">Delete</a>
    </td>
  </tr>
{% endfor %}
</table>

<p><a class="btn btn-primary" href="{% url "simplesshkey:userkey_add" %}">Add new SSH key</a></p>

<h3><code>authorized_keys</code> file
{% if not user.deployment_started %}
  <button type="button" class="btn btn-lg btn-danger" disabled="disabled">Unsynced: user does not exist yet</button>
{% elif user.sshkey_deploy_queue.exists %}
  <button type="button" class="btn btn-lg btn-danger" disabled="disabled">Unsynced</button>
{% elif user.sshkey_deploy_backlog.exists %}
  <button type="button" class="btn btn-lg btn-warning" disabled="disabled">Synced on {{ user.nb_machines_synced }}/{{ user.nb_machines_total }} machines</button>
{% else %}
  <button type="button" class="btn btn-lg btn-success" disabled="disabled">Synced on all machines</button>
{% endif %}
</h3>

<pre>
{{ user.get_sshkeys }}
</pre>

{% endblock content %}
