/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    background-color: #fafafa;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 40px;
  background-color: #ebebeb;
}

#loginbox {
    margin-top: 3em;
}

/* Override bootstrap */
.container {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 1200px) {
    .container {
	width: 1180px;
    }
}

@media screen and (min-width: 1250px) {
    .container {
	width: 1225px;
    }
}

@media screen and (min-width: 1300px) {
    .container {
	width: 1270px;
    }
}

.table {
  font-size: 0.98em;
}

.table thead {
  font-size: 0.94em;
}

/* Override bootstrap striped table rows */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table-inactive td {
    background-color: #ececec;
    color: #b9b9b9;
}

.table-inactive a {
    color: #86adce;
}

.table-inactive .text-danger {
    color: #e9a9a9;
}

.table-machines td a.small_link {
    font-size: 0.84em;
}

.progressbar {
    height: 3px;
    background: #444;
}

.progressbar-green {
    background: #2fcd1a;
}

.progressbar-yellow {
    background: #ffd006;
}

.progressbar-orange {
    background: #ff7b21;
}

.progressbar-red {
    background: #fb0200;
}

.progressbarbg {
    margin-top: 0.5em;
    width: 65px;
    background: #cbcbcb;
    height: 3px;
}

.warning-sign {
  background: url("../img/warning-icon-small.png") no-repeat;
  padding-left: 10px;
  padding-right: 10px;
}

.footertext {
  margin: 10px 0;
  text-align: right;
}

.news-content {
    padding-top: 0.5em;
}

.news-title h3 {
    margin-top: 0.2em;
}

.news-article {
    background-color: #fff;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.more-news {
    margin-bottom: 2em;
}
